html {
    background-color: #F0ECE2;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    font-size: 64px;
    margin: 50px 50px 50px;
    border: 1px solid red;
    display: flex;
}

#sidebar {
    font-size: 32px;
    margin: 50px 50px 50px;
    border: 1px solid red;
}

#pageContainer {
    display: grid;
    grid-template-columns: 300px auto;
}

#taskContainer {
    border: 1px solid red;
    margin: 50px 50px 50px;
}

.tagline {
    color: #B3B3B3;
    margin-left: 16px;
}

.sidebarBtn {
    margin: 30px 0px 0px;
}

.sidebarBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.task {
    border: 1px solid blue;
    background-color: white;
    color: #D9D9D9;
    font-size: 20px;
    padding: 35px 25px 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.taskDetails {
    border: 1px solid orange;
    display: flex;
    justify-content: space-around;
}

.taskDetails > * {
    width: 184px;
}

.newTaskBtn, .checkOffTaskBtn {
    color: white;
    background-color: #D9D9D9;
    height: 31px;
    width: 35px;
    padding-top: 4px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

form {
    display: flex;
    border: 1px solid green;
}

input {
    font-size: 20px;
    width: 180px;
    border: none;
}

input:hover, .addTaskBtn:hover, .checkOffTaskBtn:hover, .deleteTaskBtn:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.taskText {
    padding-top: 4px;
    color: black;
}

.addTaskBtn, .deleteTaskBtn {
    background-color: #f1eee7;
    border: none;
    font-size: 20px;
    width: 200px;
}

.completedTask {
    text-decoration: line-through;
    text-decoration-color: black;
}