html {
    background-color: #F0ECE2;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    font-size: 28px;
    margin: 50px 50px 0px;
    display: flex;
}

#sidebar {
    font-size: 22px;
    margin: 50px 25px 50px 50px;
}

#pageContainer {
    display: grid;
    grid-template-columns: 220px auto;
}

#taskContainer {
    margin: 50px 50px 50px;
}

.tagline {
    color: #B3B3B3;
    margin-left: 16px;
}

.sidebarBtn {
    margin: 30px 0px 0px;
}

.sidebarBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.selectedBtn {
    text-decoration: underline;
}

.task {
    background-color: white;
    color: #D9D9D9;
    font-size: 18px;
    padding: 25px 25px 25px;
    margin-bottom: 30px;
    display: flex;
}

.taskDetails {
    display: flex;
    justify-content: space-around;
}

.taskDetails > * {
    width: 184px;
}

.newTaskBtn, .checkOffTaskBtn {
    color: white;
    background-color: #D9D9D9;
    height: 29px;
    width: 35px;
    padding-top: 6px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

form {
    display: flex;
}

input {
    font-size: 18px;
    width: 180px;
    border: none;
}

input:hover, .addTaskBtn:hover, .checkOffTaskBtn:hover, .deleteTaskBtn:hover, .editBtn:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.taskText {
    padding-top: 4px;
    color: black;
}

.addTaskBtn, .addInHomeView, .addInTaskView {
    background-color: #f1eee7;
    border: none;
    font-size: 18px;
    width: 200px;
}

.deleteTaskBtn, .editBtn {
    background-color: #f1eee7;
    border: none;
    font-size: 18px;
    width: 100px;
}

.completedTask {
    text-decoration: line-through;
    text-decoration-color: black;
}