html {
    background-color: #F0ECE2;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    font-size: 64px;
    margin: 50px 50px 50px;
    border: 1px solid red;
    display: flex;
}

#sidebar {
    font-size: 32px;
    margin: 50px 50px 50px;
    border: 1px solid red;
}

#pageContainer {
    display: grid;
    grid-template-columns: 300px auto;
}

#taskContainer {
    border: 1px solid red;
    margin: 50px 50px 50px;
}

.tagline {
    color: #B3B3B3;
    margin-left: 16px;
}

.sidebarBtn {
    margin: 30px 0px 0px;
}

.sidebarBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.task {
    background-color: white;
    color: #D9D9D9;
    font-size: 24px;
    padding: 35px 25px 35px;
    margin-bottom: 30px;
    display: flex;
}

.newTaskBtn {
    color: white;
    background-color: #D9D9D9;
    height: 31px;
    width: 35px;
    padding-top: 4px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}

.taskNameSpace {
    padding-top: 4px;
    margin-left: 30px;
}

.taskNameSpace:hover {
    cursor: pointer;
}

.editedTitle {
    color: black;
    min-width: 200px;
    outline: none;
    padding-top: 4px;
    margin-left: 30px;
}

.editedTitle:hover {
    cursor: pointer;
}